.productImage {
  max-width: 100%;
}

.productName {
  font-size: 1.2rem;
  margin-top: 10px;
}

.productPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.productDescription {
  margin-top: 10px;
  color: #989797;
}

.productBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
